.song-label {
    text-align: center;
    vertical-align: middle;
    margin-right: 20px;
}

.song-description {
    margin-left: 15px;
}

.song-title {
    font-weight: bold;
    font-size: 120%;
}

.song-album {
    font-style: italic;
}